img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.boid {
  /* animation: infiniteRotation 200ms step-start infinite; */
  /* border: solid red 1px; */
  position: absolute;
}

/* .boid:hover {
  box-sizing: border-box;
  border: red 10px solid;
  animation: infiniteRotation 1s linear infinite;
} */

@keyframes infiniteRotation {
  0% {
    transform: rotate(-3deg);
  }

  50% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(-3deg);
  }
}
